{% extends "base.html" %} {% block title %} Update Details {% endblock
title %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center text-danger">Update Your Details</h4>
          <form action="/edit/{{ student.sid }}" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                value="{{ current_user.email }}"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="{{ student.name }}"
                placeholder="Full Name"
                required
              />
            </div>

            </div>
            <div class="mb-3">
              <label for="hostel" class="form-label">Hostel</label>
              <input
                type="text"
                class="form-control"
                value="{{ student.hostel }}"
                id="hostel"
                name="hostel"
                placeholder="Hostel"
                required
              />
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Phone Number</label>
              <input
                type="number"
                class="form-control"
                value="{{ student.number }}"
                id="number"
                name="number"
                placeholder="Phone Number"
                required
              />
            </div>
            <button type="submit" class="btn btn-warning btn-block">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
